body {
    background: radial-gradient(circle,#333 10%,transparent 11%),radial-gradient(circle at bottom left,#333 5%,transparent 6%),radial-gradient(circle at bottom right,#333 5%,transparent 6%),radial-gradient(circle at top left,#333 5%,transparent 6%),radial-gradient(circle at top right,#333 5%,transparent 6%);
    background-size: 3em 3em;
    background-color: #141414
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.login-container {
    min-width: 330px;
    display: inline-block;
    background-color: #191919;
    box-shadow: 0 0 15px rgba(0,0,0,.7)
}

.login-container h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: 700
}

.login-container p {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    font-size: small
}

.login-container button {
    width: 100%;
    font-weight: 600;
    font-size: larger;
    padding: 3px;
    margin-bottom: 0!important
}

.login-container a {
    font-size: small;
    font-weight: 400!important
}

.col {
    padding: 0!important
}

#password {
    margin-top: 10px;
    margin-bottom: 10px
}

.messagealerts {
    background: rgba(255,0,0,.2);
    color: #e2e2e2;
    word-wrap: break-word
}

.form-text {
    word-wrap: break-word
}

#main a {
    text-decoration: none!important;
    color: #2093ff!important;
    font-weight: 500!important;
    transition: .2s
}

#main a:hover {
    text-decoration: none!important;
    color: #0385ff!important;
    transition: .2s
}

/*
     FILE ARCHIVED ON 11:53:22 Jan 17, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:51:00 Feb 22, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.069
  cdx.remote: 0.113
  esindex: 0.011
  LoadShardBlock: 952.217 (6)
  PetaboxLoader3.datanode: 441.243 (7)
  load_resource: 456.989
  PetaboxLoader3.resolve: 399.47
*/
